* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Cutive Mono', monospace;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
}

#aboutCFStudy {
  border: thin solid black;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin: auto;
  padding: 10px;
}
#landing-page-body {
    background:
        -moz-radial-gradient(rgb(49, 103, 241) 7%, transparent 7%),
        -moz-radial-gradient(rgb(49, 103, 241) 7%, transparent 7%),
        white;
    background:
        -webkit-radial-gradient(rgb(49, 103, 241) 7%, transparent 7%),
        -webkit-radial-gradient(rgb(49, 103, 241) 7%, transparent 7%),
        white;
    background-position: 0 20, 10px 10px;

    -webkit-background-size:30px 30px;
    -moz-background-size:30px 30px;
    background-size:30px 30px;
}

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

li {
  float: left;
  position: relative;
}
  a {
    display: block;
    padding: 0 20px;
    line-height: $nav-height;
    background: $nav-background;
    color: $nav-font-color;
    text-decoration: none;
  }
}
