* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Cutive Mono', monospace;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
}

#aboutCFStudy {
  clear: both;
  border: medium solid black;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin: 12% auto;
  padding: 10px;
  font-size: 2em;
}
body {
  background:
      -moz-radial-gradient(blue 15%, transparent 16%),
      -moz-radial-gradient(blue 15%, transparent 16%),
      white;
  background:
      -webkit-radial-gradient(blue 5%, transparent 5%),
      -webkit-radial-gradient(blue 5%, transparent 5%),
      white;
  background-position: 0 20, 10px 10px;

  -webkit-background-size:60px 60px;
  -moz-background-size:60px 60px;
  background-size:60px 60px;
}

nav {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  float: left;
  color: black;
}
li a {
  display: block;
  padding: 0 20px;
  color: black;
  text-decoration: none;
}
#lamp {
  position: fixed;
  bottom: 0;
  left: 10%;
  z-index: -100;
}
#desk {
  position: fixed;
  bottom: 0;
  left: 25%;
  z-index: -100;
}

#foreground {
  z-index: -100;
}
