#results-body {
    background:
        -moz-radial-gradient(rgb(41, 201, 48) 7%, transparent 7%),
        -moz-radial-gradient(rgb(41, 201, 48) 7%, transparent 7%),
        white;
    background:
        -webkit-radial-gradient(rgb(41, 201, 48) 7%, transparent 7%),
        -webkit-radial-gradient(rgb(41, 201, 48) 7%, transparent 7%),
        white;
    background-position: 0 20, 10px 10px;

    -webkit-background-size:30px 30px;
    -moz-background-size:30px 30px;
    background-size:30px 30px;
}3
